{
  "extends": [
    "algolia",
    "algolia/jest",
    "algolia/typescript"
  ],
  "rules": {
    "no-continue": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowTypedFunctionExpressions": true
      }
    ]
  }
}
